@model soby.Models.CartIndexViewModel

@{
    ViewBag.Title = @Resources.Resource.Basket;
}

<h2>@Resources.Resource.Basket</h2>
<table class="table">
    <thead>
        <tr>
            <th>@Resources.Resource.Quantity</th>
            <th>@Resources.Resource.Product</th>
            <th class="text-right">@Resources.Resource.Price</th>
            <th class="text-right">@Resources.Resource.TotalPrice</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-right">@line.Product.Price.ToString("$ #")</td>
                <td class="text-right">
                    @((line.Quantity * line.Product.Price).ToString("$ #"))
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("Id", line.Product.Id)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="@Resources.Resource.Remove" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">@Resources.Resource.Total</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("$ #")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">@Resources.Resource.ContinueShopping</a>
    @Html.ActionLink(@Resources.Resource.PlaceNow, "Checkout", null, new { @class = "btn btn-primary" })
</div>
